<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${title}</title>
<style type="text/css">
.mail_content{ margin:0 auto; padding:0px;
}
.mail_text{ padding:40px;
            margin:20px 50px 20px 20px;
			border:1px solid  #CC0000;
}
.mail_text p{ line-height:200%;}
.mail_text_p1{ text-indent:26px;}
.mail_text_p2{ text-align:right;
               margin-top:20px;
}

</style>
</head>

<body>
  <div class=" mail_content">
    <div class="mail_text">
  <p>${name} :</p>
  <p class="mail_text_p1">${content}</p>
  <p class="mail_text_p2">${from}<br />${sendTime}</p>
  
  </div>
</div><!--content DIV-->


</body>
</html>
